.container {
  padding: 0 0.5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: 65%;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align: center;
}

#informational {
  align-items: center;
  margin-top: 10px;
}

.result {
  text-wrap: balance;
}

.processing {
  display: flex;
  flex-flow: row;
}

.leftColumn {
  padding: 15px;
  background: #313638;
  color: #4CBDBB;
}

.rightColumn {
  padding: 15px;
  background: #DBB1BC;
}

#form {
  padding: 10px 0px 10px 0px;
}

#file::file-selector-button, #continueButton {
  background: #4cbdbb;
  padding: 5px;
  border-radius: 2px;
  border: none;
  margin: 10px;
  cursor: pointer;
  color: #313638;
}

#processing {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 25px;
}

.fileUploadLabel {
  display: inline-block;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
